.movie {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 460px auto auto;

  &__poster {
    grid-column: 1 / 3;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover > .movie__actions {
      opacity: 1;
    }
  }

  &__actions {
    top: 15px;
    right: 15px;
    opacity: 0;
    transition: .3s opacity;
    position: absolute;
  }

  &__title {
    opacity: .7;
  }

  &__genre, &__release-date {
    opacity: .5;
  }

  &__title, &__genre {
    grid-column: 1 / 2;
  }

  &__release-date {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    border: 1px solid white;
    border-radius: 2px;
    padding: 1px 5px;
  }
}